@{
    ViewBag.Title = "About";
}


<section class="section-small-padding background-white text-center"  >
    <div class="line" >
        <div class="margin">
            <div class="s-12 m-12 l-4 margin-m-bottom">
                <div class="padding-2x block-bordered">
                    <img class="img-circle" src="~/Theme/img/1.jpg" alt="" style="width: 100px; height: 80px;margin-left:100px;">
                    <h2 class="text-thin" style="font-size: 20px;">Tên Giảng Viên</h2>
                    <p class="margin-bottom-30" style="font-size: 15px;">Giảng Viên Khoa CNTT</p>
                    <p class="margin-bottom-30" style="font-size: 15px;">e-mail: </p>
                    <a class="button button-dark-stroke text-size-12" href="/">Xem Thêm</a>
                </div>
            </div>
            <div class="s-12 m-12 l-4 margin-m-bottom">
                <div class="padding-2x block-bordered">
                    <img class="img-circle" src="~/Theme/img/2.png" alt="" style="width: 100px; height: 80px;margin-left:100px;">
                    <h2 class="text-thin" style="font-size: 20px;">Tên Giảng Viên</h2>
                    <p class="margin-bottom-30" style="font-size: 15px;">Giảng Viên Khoa CNTT</p>
                    <p class="margin-bottom-30" style="font-size: 15px;">e-mail: </p>
                    <a class="button button-dark-stroke text-size-12" href="/">Xem Thêm</a>
                </div>
            </div>
            <div class="s-12 m-12 l-4 margin-m-bottom">
                <div class="padding-2x block-bordered">
                    <img class="img-circle" src="~/Theme/img/3.jpg" alt="" style="width: 100px; height: 80px;margin-left:100px;">
                    <h2 class="text-thin" style="font-size: 20px;">Tên Giảng Viên</h2>
                    <p class="margin-bottom-30" style="font-size: 15px;">Giảng Viên Khoa CNTT</p>
                    <p class="margin-bottom-30" style="font-size: 15px;">e-mail: </p>
                    <a class="button button-dark-stroke text-size-12" href="/">Xem Thêm</a>
                </div>
            </div>



            <div class="s-12 m-12 l-4 margin-m-bottom">
                <div class="padding-2x block-bordered">
                    <img class="img-circle" src="~/Theme/img/4.jpg" alt="" style="width: 100px; height: 80px;margin-left:100px;">
                    <h2 class="text-thin" style="font-size: 20px;">Tên Giảng Viên</h2>
                    <p class="margin-bottom-30" style="font-size: 15px;">Giảng Viên Khoa CNTT</p>
                    <p class="margin-bottom-30" style="font-size: 15px;">e-mail: </p>
                    <a class="button button-dark-stroke text-size-12" href="/">Xem Thêm</a>
                </div>
            </div>
            <div class="s-12 m-12 l-4 margin-m-bottom">
                <div class="padding-2x block-bordered">
                    <img class="img-circle" src="~/Theme/img/thầy giáo.jpg" alt="" style="width: 100px; height: 80px;margin-left:100px;">
                    <h2 class="text-thin" style="font-size: 20px;">Tên Giảng Viên</h2>
                    <p class="margin-bottom-30" style="font-size: 15px;">Giảng Viên Khoa CNTT</p>
                    <p class="margin-bottom-30" style="font-size: 15px;">e-mail: </p>
                    <a class="button button-dark-stroke text-size-12" href="/">Xem Thêm</a>
                </div>
            </div>
            <div class="s-12 m-12 l-4 margin-m-bottom">
                <div class="padding-2x block-bordered">
                    <img class="img-circle" src="~/Theme/img/pngtree-hand-painted-teachers-day-female-teacher-illustration-png-image_3837617.jpg" alt="" style="width: 100px; height: 80px;margin-left:100px;">
                    <h2 class="text-thin" style="font-size: 20px;">Tên Giảng Viên</h2>
                    <p class="margin-bottom-30" style="font-size: 15px;">Giảng Viên Khoa CNTT</p>
                    <p class="margin-bottom-30" style="font-size: 15px;">e-mail: </p>
                    <a class="button button-dark-stroke text-size-12" href="/">Xem Thêm</a>
                </div>
            </div>



        </div>
    </div>
</section>
